.main-button {
    padding: 12px 35px;
    background-color: var(--orange);
    border: 2px solid var(--orange);
    border-radius: 25px;
    color: var(--white);
    font-weight: 500;
    font-size: 18px;
    transition: all 0.2s;
}

.main-button:hover {
    background-color: var(--white);
    color: var(--orange);
}

.main-button:disabled {
    background-color: var(--grey);
    border-color: var(--grey);
    color: var(--white);
}

.first-input input,
.secondary-input input {
    width: 100%;
}